* {
  font-family: "Montserrat", sans-serif;
}
div {
  height: 550px;
  width: 400px;
  overflow-y: scroll;
  margin: auto;
  border: 15px solid #ccd1d1;
  border-radius: 10px;
  margin-top: 20px;
}
div > h3 {
  text-align: center;
}
/* ::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
h1 {
  text-align: center;
}
